* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
    --bg-header: #e6f0ff;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Poppins, sans-serif;
}

/* Common */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 98px;
    background: var(--primary-color);
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    padding: 18px 16px;
}

.btn:hover {
    opacity: 0.8;
}

.btn.normal {
    padding: 13px 16px;
}

/* Header */

.header {
    height: 100vh;
    background-color: var(--bg-header);
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .actions {
    display: flex;
    align-items: center;
}

.actions {
    margin-left: auto;
}

.navbar ul a {
    display: block;
    padding: 8px 14px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 21px;
    color: #4f5361;
}

.navbar .action-link {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 21px;
    margin-right: 18px;
    color: var(--primary-color);
}

/* Header hero */

.hero {
    margin-top: 130px;
}

.hero .info {
    width: 50%;
}

.hero .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .title {
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.19;
    color: #000336;
    margin-top: 8px;
}

.hero .description {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #5a6473;
}

.hero-cta {
    min-width: 170px;
    margin-top: 40px;
}
